@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #F7F7F7;
  padding: 20px;
  font-family: system-ui;
}